<html class="bg-neutral-1">
<head>
  <title>AWS-CF-Janitor</title>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/custom.css" type='text/css'>
  <script src="/scripts/bootstrap-filestyle.min.js"></script>
</head>
<body class="bg-neutral-9">

<%= yield %>

</body>
</html>
