<div class="content" xmlns="http://www.w3.org/1999/html">
  <div class="page-title"><h1>Welcome to AWS CF Janitor</h1></div>
  <div class="more-info-label" style="text-align: center"><h4>(monk who sold his ferrari to run CF on AWS)</h4></div>

  <div ng-app="awsExtractor">
    <div ng-controller="AWSExtractor">
      <div class="form-group">
        <div class="input-group">
          <span class="glyphicon glyphicon-user input-group-addon" aria-hidden="true"></span>
          <input type="text" class="form-control" placeholder="AWS Access ID" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="glyphicon glyphicon-asterisk input-group-addon" aria-hidden="true"></span>
          <input type="text" class="form-control" placeholder="AWS Secret Key" aria-describedby="basic-addon1">
        </div>
        <div>
          <button type="button" ng-click="getSequence('aws_key','aws_key')" class="btn btn-primary center-block" align="Left Align">Show Sequence</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary pull-left" align="Left Align">Bring it up</button>
          <button type="button" class="btn btn-danger pull-right" align="Right Align">Burn Down</button>
        </div>
      </div>
      <div class="form-group">
        <div class="page-title" id="show_sequence_header" ><h3>Sequence Extracted from AWS Deployment</h3></div>
        <div class="row">
          <div class="table-responsive col-md-6">
            <table>
              <caption>Start sequence</caption>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
            </table>
          </div>
          <div class="table-responsive col-md-6">
            <table>
              <caption>Stop sequence</caption>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
              <tr><td>sdadas</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
